In [1]:
import numpy as np
import pandas as pd

In [55]:
data = pd.read_csv('pres_debate2020.csv')

In [75]:
data['speech'] = np.arange(len(data))

In [76]:
data.head()

,speaker,date,start_time,duration,text,speech
0,Chris Wallace,9/29/20,0:00:00,0:00:50,good evening from the health education campus ...,0
1,Chris Wallace,9/29/20,0:00:50,0:00:39,this debate is being conducted under health an...,1
2,Joe Biden,9/29/20,0:01:29,0:00:02,how you doing man,2
3,Donald Trump,9/29/20,0:01:31,0:00:00,how are you doing,3
4,Joe Biden,9/29/20,0:01:31,0:00:20,i'm well,4

In [57]:
data.loc[data['speaker'] == 'Chris Wallace:', 'speaker'] = 'Chris Wallace' 
data.loc[data['speaker'] == 'President Donal...:', 'speaker'] = 'Donald Trump'
data.loc[data['speaker'] == 'Vice President ...:', 'speaker'] = 'Joe Biden'

In [58]:
data.head()

,speaker,date,start_time,duration,text
0,Chris Wallace,9/29/20,0:00:00,0:00:50,Good evening from the Health Education Campus ...
1,Chris Wallace,9/29/20,0:00:50,0:00:39,This debate is being conducted under health an...
2,Joe Biden,9/29/20,0:01:29,0:00:02,"How you doing, man?"
3,Donald Trump,9/29/20,0:01:31,0:00:00,How are you doing?
4,Joe Biden,9/29/20,0:01:31,0:00:20,I'm well.

In [99]:
data.to_csv ('pres_debate.csv', index = False, header=True)

In [122]:
characters = ['?', ',', '.', '"', ':']

for row in range(len(data)):
    for c in characters:
        text = data['text'][row]
        text = text.replace(c, '').lower().strip()
        data['text'][row] = text

data.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,speaker,date,start_time,duration,text,speech
0,Chris Wallace,9/29/20,0:00:00,0:00:50,good evening from the health education campus ...,0
1,Chris Wallace,9/29/20,0:00:50,0:00:39,this debate is being conducted under health an...,1
2,Joe Biden,9/29/20,0:01:29,0:00:02,how you doing man,2
3,Donald Trump,9/29/20,0:01:31,0:00:00,how are you doing,3
4,Joe Biden,9/29/20,0:01:31,0:00:20,i'm well,4

In [123]:
words = pd.DataFrame(columns = ['speech', 'index', 'word'])
word = []
index = []
speech =[]

for row in range(len(data)):
    text = data['text'][row].split(' ')
    sp = data['speech'][row]
    i = 0
    for t in text:
        if tt != '[':
            speech.append(sp)
            index.append(i)
            word.append(t)
            i += 1
        
words['speech'] = speech
words['index'] = index
words['word'] = word

words.head(200)

     speech  index         word
0         0      0         good
1         0      1      evening
2         0      2         from
3         0      3          the
4         0      4       health
..      ...    ...          ...
195       1     71  importantly
196       1     72          you
197       1     73          can
198       1     74        focus
199       1     75           on

[200 rows x 3 columns]

In [125]:
words.to_csv ('words.csv', index = False, header=True)

In [124]:
len(words)

18486

In [127]:
df = pd.merge(data, words, on = 'speech', how = 'right')

In [128]:
df.groupby('speaker')['word'].count()

speaker
Chris Wallace    4665
Donald Trump     7220
Joe Biden        6601
Name: word, dtype: int64

In [129]:
len(df)

18486

In [130]:
df.groupby('speaker')['word'].nunique()

speaker
Chris Wallace    1020
Donald Trump     1216
Joe Biden        1285
Name: word, dtype: int64